

.Abu_Dhabi
{
    font-family:monospace;
}

.Dubai
{
    font-family:monospace;
}

.Sharjah
{
    font-family:monospace;
}

.Ajman
{
    font-family:monospace;
}

.Ras_Al_Khaimah
{
    font-family:monospace;
}

.Fujairah
{
    font-family:monospace;
}

.Umm_Al_Quwain
{
    font-family:monospace;
}